.titulo1{
    background-color: rgb(212, 135, 223);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 4vh;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.rodape {
    display: block;
    background-color: rgb(212, 135, 223);
    position: fixed; bottom: 0; left: 0; width: 100%;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
.textoRodape{
    display: flex;
    justify-content: center;
}
.logout{
    font-size: 10px;
}

