body { 
    background-image: linear-gradient(rgb(11, 1, 99), rgb(66, 3, 184), rgb(98, 2, 128));
}
h1 {
    color: white;
    font-family:"Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center ;
}
p {
    color: white;
    font-family: "silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;             /*aumenta o comprimento y do objeto ou input*/
    gap: 10px;
}
.inputNome {
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 2vh;       /*arredonda a borda do input*/
    height: 5vh;
    width: 100%;
    max-width: 245px;
    padding: 3px 10px; /*define espaço interno do input ou elemento*/
    font-size: 15px;
}
.inputSenha {
    background-color:  rgb(226, 226, 226);
    border: none;
    border-radius: 2vh;
    height: 5vh;
    width: 100%;
    max-width: 245px;
    padding: 3px 10px;
    font-size: 15px;
}
button {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(226, 226, 226);
    color: #170F11;
    border-style: hidden;
    border-radius: 15px;
    height: 30px;
    width: 10hv;
    font-size: 20px;
    padding: 0px 30px;
    cursor: pointer; /*como o cursor irá ficar ao passar por cima do elemento*/    
}
button:hover {
    color: aliceblue;
    box-shadow: 0px 0px 10px #bf28ec;
    background-color: #a707d8;
    transition: 0.5s;
}